<!-- Begin Global Footer -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 copyright">
        <p>&copy;2019 R.S. Walsh Landscaping, Inc.</p>
      </div>
      <div class="col-sm-6 col-lg-3 address">
        <p><strong>Fort Myers</strong></p>
        <p>8050 Penzance Blvd. Fort Myers, FL 33912</p>
        <p><a href="tel:2397865655">239.786.5655</a></p>
      </div>
      <div class="col-sm-6 col-lg-3 address">
        <p><strong>Sanibel Island</strong></p>
        <p>3889 Sanibel Captiva Dr, Sanibel, FL 33957</p>
        <p><a href="tel:2393955859">239.395.5859</a></p>
      </div>
      <div class="col-lg-2">
        <div class="social-icons">
          <a href="#"><img src="{{root_url}}/svg/social-icon-fb.svg" alt="R.S. Walsh Facebook"></a>
          <a href="#"><img src="{{root_url}}/svg/social-icon-linkedin.svg" alt="R.S. Walsh Linkedin"></a>
          <a href="#"><img src="{{root_url}}/svg/social-icon-pinterest.svg" alt="R.S. Walsh Pinterest"></a>
          <a href="#"><img src="{{root_url}}/svg/social-icon-twit.svg" alt="R.S. Walsh Twitter"></a>
          <a href="#"><img src="{{root_url}}/svg/social-icon-insta.svg" alt="R.S. Walsh Instagram"></a>
        </div>
      </div>
    </div>
  </div>
</footer>