/**********************************************
 Global Styles
**********************************************/
body {
  font-family: $body-font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 { 
  color: $text-color;
  font-family: $heading-font;
  font-weight: 500;
}
h1, h2 {
  @media screen and (min-width: $mq-min-15inch) {
    margin-bottom: 1.9vw;
  }
}
h1 {
  font-size: 32px;
  line-height: 1.07em;
  letter-spacing: -0.04em;
  margin-bottom: 25px;
  @media screen and (min-width: $mq-min-15inch) {
    font-size: 2.23vw;
  }
  &.display {
    font-size: 76px;
    line-height: 0.9em;
    letter-spacing: -0.05em;
    @media screen and (min-width: $mq-min-15inch) {
      font-size: 5.3vw;
    }
  }
}
h2 {
  font-size: 24px;
  line-height: 1.07em;
  letter-spacing: -0.034em;
  margin-bottom: 20px;
  @media screen and (min-width: $mq-min-15inch) {
    font-size: 1.67vw;
  }
}
h3, p {
  font-size: 18px;
  line-height: 1.45em;
  letter-spacing: -0.025em;
  @media screen and (min-width: $mq-min-15inch) {
    font-size: 1.25vw;
  }
}

p {
  font-weight: 300;
  &.large{
    font-size: 22px;
    @media screen and (min-width: $mq-min-15inch) {
      font-size: 1.53vw;
    }
  }
}

a {
  color: $link-color;
  font-weight: 500;
}

strong, b { font-weight: 600 }

.btn {
  display: inline-block;
  position: relative;
  color: $black;
  background: transparent;
  border: 1px solid $black;
  font-size: 17px;
  line-height: 46px - 2;
  font-weight: 500;
  text-align: center;
  padding: 0px 20px;
  outline: 0;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s $cubic-btn;
  text-decoration: none;
  &.white {
    border-color: #fff;
    color: #fff;
    &:before {
      background: #fff;
    }
    &:hover {
      color: $black;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    background: $black;
    transition: 0.3s $cubic-btn;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      height: 100%;
    }
  }
  

  &.btn-small {
    line-height: 36px;
  }

  &.green {
  	background: $green;
    border-color: $green;
    color: #fff;
    &:before {
      background: tint($green, 15%);
    }
    &:hover {
      border-color: tint($green, 15%);
    }
  }
}

.chevron-arrow-right:after {
  content:'';
  display: inline-block;
  border-right: 2px solid $text-color;
  border-bottom: 2px solid $text-color;
  @include size(6px);
  transform: rotate(45deg) translateY(-3px);
  margin-left: 5px;
}

.wrapper {
	margin-top: $header-height;
}

.absolute-0 {
  @include position(absolute, 0);
}

.half-col {
  width: 50%;
}

.slider-wrap-pagination {
  position: relative;
  .dot-container {
    @include position(absolute, null null 20px 50%);
    transform: translateX(-50%);
    .dot {
      cursor: pointer;
      @include size(14px);
      margin: 0 7px;
      appearance: none;
      border: none;
      background: #fff;
      opacity: .5;
      border-radius: 50%;
      display: inline-block;
      &.active {
        opacity: 1;
      }
    }
  }
}
