/**********************************************
 Homepage
**********************************************/
.homepage-projects {
	&:after {
		content: '';
		display: block;
		@include position( absolute, 0);
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) 30%);
	}
	& > div {
		height: 100%;
		background-size: cover;
		background-position: center;
		opacity: 0;
		transition: 2s opacity 0s linear;
		&.active {
			transition: opacity 2s cubic-bezier(.45,.01,.3,1);
			opacity: 1;
		}
	}
}
.homepage-bottom-content {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: absolute;
	bottom: 40px;
	left: 40px;
	right: 30px;
	@media screen and (max-width: $mq-max-md) {
		left: 30px;
	}
	@media screen and (max-width: $mq-max-sm) {
		left: 20px;
		right: 20px;
	}
	h1, a {
		color: #fff;
	}
	h1 {
		max-width: 460px;
		margin-bottom: 0;
		@media screen and (max-width: $mq-max-lg) {
			font-size: 54px;
			max-width: 390px;
		}
		@media screen and (max-width: $mq-max-md) {
			margin-bottom: 120px;
		}
	}
	.homepage-project-links {
		span {
			position: relative;
		}
		a {
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 26px;
			line-height: 1.07em;
  		letter-spacing: -0.034em;
			text-decoration: none;
			margin-right: 13px;
			white-space: nowrap;
			opacity: 0;
			pointer-events: none;
			transition: 1s cubic-bezier(.45,.01,.3,1) .25s;
			transform: translateX(-30px);
			&.active {
				opacity: 1;
				pointer-events: all;
				transform: translateX(0);
			}
		}
		svg {
			width: 40px;
			height: 20px;
		}
	}
}

body.homepage {
	header {
		height: $header-height!important;
		nav a {
			opacity: 1;
		}
	}
}


.vidLoad {
	display: flex;
	z-index: 10001;
	pointer-events: none;
	opacity: 0;
	transition: 1.5s cubic-bezier(.4,0,.1,1);
	video {
		object-fit: cover;
	}
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		max-width: 250px;
		transition: 1.5s cubic-bezier(.4,0,.1,1);
		transform: translate(-50%, -50%) scale(.5);
	}
	&.visible {
		opacity: 1;
		img {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}