/**********************************************
 Project Single
**********************************************/

body.project-single {	
	.wrapper {
		margin: 0;
		height: 100vh;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	&.mobile-layout {
		height: unset!important;
		.wrapper {
			height: unset!important;
		}
		.slider-wrap {
			position: relative;
		}
		
	}
}

.project-single {
	.slider-wrap {
		div {
			height: 100%;
		}
		&:before {
			content: '';
			display: block;
			@include position(absolute, 0);
			background: linear-gradient(to top, rgba($black, 0) 50%, rgba($black, .3));
			z-index: 1;
			@media screen and (max-width: $mq-max-md) {
				height: 160px;
				bottom: unset;
			}
		}
	}

	.title {
		@include position(fixed, 30px null null 40px);
		color: #fff;
		z-index: 100;
		max-width: 310px;
		transition: color 0.6s cubic-bezier(.35,.05,.05,1);
		@media screen and (max-width: $mq-max-sm) {
			top: 20px;
			left: 20px;
		}
	}
	
	.image-wrap {
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.slider-controls {
		@include position(fixed, null 10px 10px null);
		width: 110px;
		z-index: 1;
		img {
			pointer-events: none;
		}
		@media screen and (max-width: $mq-max-md) {
			display: none;
		}
	}

	.control {
		@include size(50px);
		border-radius: 50%;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&.next {
			float: right;
		}
		&.prev {
			float: left;
			img {
				transform: rotate(180deg);
			}
		}
		img {
			padding-left: 3px;
		}
	}

	.back-to-all {
		display: block;
		padding: 10px;
		@include position(fixed, 20px 20px null null);
		z-index: 1;
		@media screen and (max-width: $mq-max-md) {
			top: 15px;
			right: 10px;
		}
	}

	&.project-info-panel--is-open {
		.project-info-panel {
			transform: translateX(0);
		}
		.title {
			color: $black;
		}
		.project-info-trigger {
			transform: translateX(-36px);
			@media screen and (max-width: $mq-max-md) {
				transform: translateX(-70px);
				background: transparent;
			}
			@media screen and (max-width: 400px) {
				bottom: unset;
				left: unset;
				top: 13px;
				right: 5px;
				transform: unset;
				transition: unset;
			}
			.close-x {
				opacity: 1;
			}
			.info {
				opacity: 0;
			}
		}
		
	}

	
}

.project-info-panel {
	@include position(fixed, 0 null 0 0);
	max-width: 400px;
	z-index: 1;
	background: #fff;
	transition: 0.6s cubic-bezier(.35,.05,.05,1);
	transform: translateX(-100%);
	&:before {
		content: '';
		display: block;
		@include position(absolute, 0 0 null 0);
		z-index: 1;
		height: 150px;
		background: linear-gradient(to bottom, white 40%, rgba(255, 255, 255, 0));
		pointer-events: none;
	}
	
	.scroll-inner {
		overflow-y: scroll;
		overflow-scrolling: touch;
		height: 100%;
		-ms-overflow-style: none;
		scrollbar-width: none; // firefox
		&::-webkit-scrollbar {
			display: none;
		}
	}
	main {
		padding: 0 40px 60px;
		@media screen and (max-width: $mq-max-sm) {
			padding: 0 20px 60px;
		}
	}
	.meta {
		padding-top: 160px;
		height: calc(100vh + 60px);
		min-height: 600px;
		& > div:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.cta {
		padding: 40px;
		background: $gray-gradient;
		@media screen and (max-width: $mq-max-sm) {
			padding: 40px 20px;
		}
	}
}
.project-info-trigger {
	@include position(fixed, null -60px 10px null);
	z-index: 1;
	transition: 0.6s cubic-bezier(.35,.05,.05,1);
	svg {
		transition: 0.6s cubic-bezier(.35,.05,.05,1);
		pointer-events: none;
	}
	.close-x {
		position: absolute;
		opacity: 0;
	}
}



