/**********************************************
 Services
**********************************************/
.service-content {
	padding-top: 40px;
}

section.service-pillars {
	height: calc(100vh - #{$header-height} - 40px);
	padding-bottom: 40px;
	min-height: 400px;
	div:not(.description) {
		height: 100%;
	}
}

.pillar-mask {
	overflow: hidden;
}

.pillar {
	height: 100%;
	position: relative;
	overflow: hidden;
	display: block;
	color: $black;
	.main {
		position: relative;
		z-index: 1;
		background-position: center center;
		background-size: cover;
		transition: height 0.5s cubic-bezier(.25,.1,0,1);
	}
	h1 {
		@include position(absolute, null 2vw 0 2vw);
		color: #fff;
	}
	.description {
		background: $gray-gradient;
		@include position(absolute, null 0 0 0);
		padding: 2vw;
		p {
			margin-bottom: 20px;
		}
		svg {
			height: 40px;
		}
	}	
}

