// Colors
///////////////////////////////////////////////
$black: #090A0A;
$green: #00AD8D;
$skyblue: #53C8E7;
$blue: #0081C9;


// Typography
///////////////////////////////////////////////
$body-font: 'Barlow', sans-serif;
$heading-font: $body-font;

$text-color: $black;
$link-color: $green;


// Timings
///////////////////////////////////////////////
$cubic-btn: cubic-bezier(.17,.67,.5,1);



// Header
///////////////////////////////////////////////
$header-height: 80px;
$header-height-mobile: 70px;



// Bootstrap Breakpoints 
///////////////////////////////////////////////
$mq-min-xl: 1200px;
$mq-min-lg: 992px;
$mq-min-md: 768px;
$mq-min-sm: 576px;
$mq-min-xs: 0;

$mq-max-xl: ($mq-min-xl - 1);
$mq-max-lg: ($mq-min-lg - 1);
$mq-max-md: ($mq-min-md - 1);
$mq-max-sm: ($mq-min-sm - 1);

// Custom Breakpoints
$mq-min-15inch: 1440px;