/**********************************************
 Footer Styles
**********************************************/

footer {
	width: 100%;
	background: $black;
	color: #fff;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}