/**********************************************
 Siema Slider Defaults
**********************************************/

.slider-wrap-pagination div {
  height: 100%;
}
.slide-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
