{% set body_class = 'about-us' %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<div class="container-fluid left-nav-right-container">

	<div class="left-nav no-scrollbars">
		<nav class="animate-in">
			<div class="active">
				<img src="{{root_url}}/svg/bird-bullet.svg"><a href="#who-we-are">who we are</a>
			</div>
			<div>
				<img src="{{root_url}}/svg/bird-bullet.svg"><a href="#team">our team</a>
			</div>
			<div>
				<img src="{{root_url}}/svg/bird-bullet.svg"><a href="#space">our space</a>
			</div>
			<div>
				<img src="{{root_url}}/svg/bird-bullet.svg"><a href="#awards">awards</a>
			</div>
			<div>
				<img src="{{root_url}}/svg/bird-bullet.svg"><a href="#community">community</a>
			</div>
		</nav>
	</div>

	<main class="section-padding-bottom">
		<div class="container">

			<div class="row" id="who-we-are">

				<div class="col-12">
					<div class="copy-block animate-in">
						<h1>Who we are</h1>
						<p class="large">R.S. Walsh Landscaping is a family owned and operated, full service landscape design-build company that specializes in custom residential landscape design, installation, and maintenance.</p>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="copy-block">
						<div class="img-wrap video animate-in">
							<div class="absolute-0">
								<video autoplay loop muted playsinline poster="{{root_url}}/video/rs-captiva-about-snippet.jpg">
									<source src="{{root_url}}/video/rs-captiva-about-snippet.webm" type="video/webm">
									<source src="{{root_url}}/video/rs-captiva-about-snippet.mp4" type="video/mp4">
									<source src="{{root_url}}/video/rs-captiva-about-snippet.ogv" type="video/ogg">
								</video>
							</div>
						</div>
						<div class="animate-in">
							<h2>Our Mission</h2>
							<p>Our mission is to present a unique, personalized landscape design that reflects our client's taste, and exceeds their expectations, providing an invaluable addition to their property. Our devotion to superior client service, from initial concept and design to landscape installation, is the foundation of our company and critical to maintaining lasting relationships with our clients.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="copy-block animate-in">
						<h2>Our History</h2>
						<p>Bob is a visionary person and talented designer.  Through hard work and sheer determination, he built a successful, multi-disciplinary company comprised of a landscape architecture and design division, professional landscape installation and custom maintenance division, a tree nursery location and  a retail garden center located on Sanibel Island.  The company continues to evolve to meet the needs of our clients and supporting the community in which we live and work.</p>
					</div>
					<div class="animate-in">
						<img src="{{root_url}}/images/about/lisa-and-bob-walsh.jpg" alt="Lisa and Bob Walsh">
					</div>
				</div>

			</div>
		</div>

		<div class="row section-margin-top" id="team">
			<div class="col-12">
				<div class="copy-block">
					<h1>Our Team</h1>
					<p class="large">We have assembled a talented team of landscape architects and designers to compliment any type of landscape project.  Landscape Design is a major component of our company’s service.</p>
				</div>
			</div>

			{% for member in team %}
			<a href="{{root_url}}/team-single.html" class="col-6 col-lg-4 team-single">
				<div class="img-wrap mouse-interact">
					<div class="absolute-0">
						<img src="{{root_url}}/images/about/{{member.img_url}}" alt="{{member.name}}">
						<div class="overlay absolute-0">
							<h2>About {{member.name}} &rarr;</h2>
						</div>
					</div>
				</div>
				<div class="meta">
					<h3 class="name">{{member.name}}</h3> <span>|</span> <p class="title">{{member.title}}</p>
				</div>
			</a>
			{% endfor %}
		</div>


		<div class="row section-margin-top" id="space">
			<div class="col-12">
				<div class="copy-block">
					<h1>Our space</h1>
					<p class="large">Currently, we have a design/accounting office located at Jetport Commerce Parkway in Fort Myers where our landscape architects and designers have their workspace.  We also have a design office at our Sanibel Island garden center where one of our landscape designers is based.  The Sanibel office keeps our designers and landscape architects connected to all of our projects on island and the garden center is designed to be an outdoor showroom for our clients.</p>
				</div>
			</div>

			<div class="col-6">
				<div class="img-wrap">
					<div class="absolute-0">
						<img src="{{root_url}}/images/about/design-space.jpg" alt="">
					</div>
				</div>
				<div class="meta">
					<h3 class="name">Jetport Commerce Parkway, Fort Myers</h3> <span>|</span> <p class="title">Design & Accounting</p>
				</div>
			</div>

			<div class="col-6">
				<div class="img-wrap">
					<div class="absolute-0">
						<img src="{{root_url}}/images/about/space-2.jpg" alt="">
					</div>
				</div>
				<div class="meta">
					<h3 class="name">Sanibel Island</h3> <span>|</span> <p class="title">Design & Garden Center</p>
				</div>
			</div>
		</div>

		<div class="row section-margin-top" id="awards">
			<div class="col-12">
				<div class="copy-block">
					<h1>Awards</h1>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="gray-tile">
					<img src="{{root_url}}/images/about/award-logo-best-of-the-islands.jpg" alt="Best of the Islands Logo">
					<h3>2010 - 2019</h3>
					<p>Best of the Islands - Landscape Contractor</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="gray-tile">
					<img src="{{root_url}}/images/about/award-logo-best-of-the-islands.jpg" alt="Best of the Islands Logo">
					<h3>2015 - 2019</h3>
					<p>Best of the Islands - Garden Center</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="gray-tile">
					<img src="{{root_url}}/images/about/award-logo-best-of-fort-myers.jpg" alt="Best of the Islands Logo">
					<h3>2014 - 2015, 2017 - 2019</h3>
					<p>Best of Southwest Florida/Fort Myers - Landscape Contractor</p>
				</div>
			</div>
		</div>

		<div class="row section-margin-top" id="community">
			<div class="col-12">
				<div class="copy-block">
					<h1>Community</h1>
					<p class="large">Giving our time and resources to support our community is an important part of our commitment to the place where we live and work.  We are involved in numerous charities, non-profits and organizations that make a difference in the quality of life on the islands and in Southwest Florida.</p>
				</div>
			</div>
			
			{% for org in community_orgs %}
			<div class="col-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="gray-tile">
					<img src="{{root_url}}/images/about/community-org-logo--{{org.url_suffix}}.jpg" alt="{{org.title}}">
				</a>
			</div>
			{% endfor %}

		</div>
			

	</main>

</div>

{% include "partials/footer.html" %}
	
{% endblock %}