{% set body_class = "blog thin-container" %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<section class="section-margin-bottom">
	<div class="container">
		<div class="row">

			<div class="col-12 blog-container">
				<a class="nav-back animate-in" href="{{root_url}}/blog-archives.html">
					<svg width="31" height="13" viewBox="0 0 31 13" xmlns="http://www.w3.org/2000/svg"><g stroke="#090A0A" fill="none" fill-rule="evenodd"><path d="M6.7.5l-6 6 6 6M1.4 6.5h28.8"/></g></svg>
					Blog Home
				</a>

				<div class="blog-meta animate-in">
					<h2 class="publish-date">October 21, 2019</h2>
					<hr class="vertical">
					<h1 class="display title">In The Garden employees earn certification.</h1>
					<p class="author">by R.S. Walsh</p>
				</div>
				
				<div class="img-wrap featured-image animate-in">
					<div class="absolute-0">
						<img src="{{root_url}}/images/blog/dummy-1.jpg" alt="">
					</div>
				</div>

				<div class="blog-content animate-in">
					<p>Cindi Vos and Chris Stack of <a href="{{root_url}}/garden-center.html">In The Garden</a> have become Certified Horticulture Professionals through the Florida Nursery, Growers and Landscape Association (FNGLA).<br><br>
					The 8-week FNGLA Certified Horticulture Professional (FCHP) program is the industry’s only standard for measuring horticulture knowledge on everything from plant and pest identification to landscape management. Candidates must pass a comprehensive four-part online written exam to demonstrate knowledge about plant identification, disease and insect control, plant biology and landscape management.<br><br>
					Vos is the general manager of In The Garden and Stack works with customers, manages the grounds and plant stock and coordinates installations of items purchased at the garden center.</p>
					<p class="quote">"The knowledge they obtained from this course, combined with their already great knowledge of plants and trees make them a welcome part of our team."</p>
					<p>said Lisa Walsh, owner of R.S. Walsh Landscaping and In The Garden. "They both have tremendous enthusiasm for the plant industry and we are fortunate to have them at In The Garden."<br><br>
					In The Garden features a nursery with a large assortment of native and tropical plants, display gardens, a garden gift shop, pottery, fountains and outdoor seating.<br><br>
					For more than 35 years, R.S. Walsh has been committed to superior workmanship, the highest standard of materials and the constant pursuit of excellence. R.S. Walsh In The Garden – Retail Garden Center & Outdoor Showroom is located at 3889 Sanibel Captiva Road, across from the Sanibel School, and is open Monday through Friday from 10:00 a.m. until 4:00 p.m. and on Saturday from 9:00 a.m. until 1:00 p.m. For more information call (239) 395-5859 or visit www.rswalsh.com.</p>
				</div>

				<div class="blog-prev-next">
					<a href="#" class="prev">
						<svg width="31" height="13" viewBox="0 0 31 13" xmlns="http://www.w3.org/2000/svg"><g stroke="#090A0A" fill="none" fill-rule="evenodd"><path d="M6.7.5l-6 6 6 6M1.4 6.5h28.8"/></g></svg>
						<p>Hurricane palm: A true survivor</p>
					</a>
					<a href="#" class="next">
						<p>In The Garden Employees Earn Certification</p>
						<svg width="31" height="13" viewBox="0 0 31 13" xmlns="http://www.w3.org/2000/svg"><g stroke="#090A0A" fill="none" fill-rule="evenodd"><path d="M23.7.5l6 6-6 6M29 6.5H.2"/></g></svg>
					</a>
				</div>
				
			</div>

		</div>
	</div>
</section>

{% include "partials/footer.html" %}

	
{% endblock %}