{% set body_class = 'garden-center' %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<section class="gc-hero animate-in">
	<div class="container-fluid">

		<div class="half-col slider">

			<div class="slider-wrap-pagination">
				<div class="slide-wrap"><img src="{{root_url}}/images/garden-center/gc-hero-slide-1.jpg"></div>
				<div class="slide-wrap"><img src="{{root_url}}/images/garden-center/gc-hero-slide-2.jpg"></div>
				<div class="slide-wrap"><img src="{{root_url}}/images/garden-center/gc-hero-slide-3.jpg"></div>
			</div>

			<div class=""></div>

		</div>

		<div class="half-col main-content">
			<div class="top">
				<img src="{{root_url}}/images/garden-center/rs-walsh-garden-center-logo-color.svg" alt="R.S. Walsh Garden Center Logo">
				<p class="large">Visit our beautiful retail Garden Center and Outdoor Showroom - In The Garden.  Get seasonal ideas to freshen up your landscape and consult with our on-site landscape design professionals about ideas for your garden!</p>
			</div>
			<div class="inpage-nav">
				<a href="#events"><span>Upcoming Events</span> <svg width="15" height="25" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#fff"><path d="M14.5 16.5l-7 7-7-7"/><path stroke-linecap="square" d="M7.5 23V1"/></g></svg></a>
				<a href="#ask-a-gardener"><span>Ask a Gardener</span> <svg width="15" height="25" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#fff"><path d="M14.5 16.5l-7 7-7-7"/><path stroke-linecap="square" d="M7.5 23V1"/></g></svg></a>
				<a href="#schedule-tour"><span>Schedule a Tour</span> <svg width="15" height="25" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#fff"><path d="M14.5 16.5l-7 7-7-7"/><path stroke-linecap="square" d="M7.5 23V1"/></g></svg></a>
			</div>
		</div>

	</div>

</section>


<section class="gc-tile-showcase animate-in">
	<div class="container-fluid">
		<div class="row">
​
			<div class="col-md-12 col-lg-5 content">
				<div class="inner">
					<h1>Located on Sanibel Island</h1>
					<p class="large">In The Garden is a tropical garden oasis with wandering paths through display gardens, bountiful plant nursery and garden gift shop.</p>
				</div>
			</div>
​
			<div class="col-10 offset-2 col-sm-5 offset-lg-0 col-lg-4">
				<div class="tile-wrap">
					<img src="{{root_url}}/images/garden-center/garden-center-tile-1.jpg">
				</div>
			</div>
​
			<div class="col-10 col-sm-5 col-lg-3">
				<div class="tile-wrap">
					<img src="{{root_url}}/images/garden-center/garden-center-tile-2.jpg">
				</div>
			</div>
​
			<div class="col-10 offset-2 col-sm-5 offset-sm-0 col-lg-4 offset-lg-2">
				<div class="tile-wrap">
					<img src="{{root_url}}/images/garden-center/garden-center-tile-3.jpg">
				</div>
			</div>
​
			<div class="col-10 col-sm-5 col-lg-3">
				<div class="tile-wrap">
					<img src="{{root_url}}/images/garden-center/garden-center-tile-4.jpg">
				</div>
			</div>
​
		</div>
	</div>
</section>


<section class="gc-get-inspired section-block animate-in">
	<div class="container-fluid">
		<div class="row">

			<div class="col-12 col-lg-5 content">
				<div class="inner">
					<div class="top">
						<h1>Come get inspired.</h1>
						<p class="large">This is the perfect place to get the latest landscape design and outdoor living trends. </p>
					</div>
					<a href="#visit-us" class="btn">See Hours of Operation</a>
				</div>
			</div>
			
			<div class="col icon-bullets">
				<div class="inner">
					<div class="icon-col">
						<div class="icon-row">
							<img src="{{root_url}}/svg/icons/plant.svg">
							<p class="large">Native and tropical plants</p>
						</div>
						<div class="icon-row">
							<img src="{{root_url}}/svg/icons/pottery.svg">
							<p class="large">Pottery</p>
						</div>
						<div class="icon-row">
							<img src="{{root_url}}/svg/icons/fountain.svg">
							<p class="large">Fountains</p>
						</div>
						<div class="icon-row">
							<img src="{{root_url}}/svg/icons/chair.svg">
							<p class="large">Unique outdoor seating</p>
						</div>
					</div>
					<div class="icon-col">
						<div class="icon-row">
							<img src="{{root_url}}/svg/icons/accessories.svg">
							<p class="large">Garden Accessories</p>
						</div>
						<div class="icon-row">
							<img src="{{root_url}}/svg/icons/gift.svg">
							<p class="large">Gifts for gardening lovers</p>
						</div>
						<div class="icon-row">
							<img src="{{root_url}}/svg/icons/local-art.svg">
							<p class="large">Local art</p>
						</div>
					</div>

				</div>
			</div>
​
		</div>
	</div>
</section>


<section class="gc-events">
	<div class="container">
		<div class="row">
			<div class="col-12 title">
				<h1>Upcoming Events</h1>
				<hr>
			</div>
			<div class="col-12 calendar">
				<div class="event-calendar">Your calendar will go here</div>
			</div>
		</div>
	</div>
</section>


<section class="gc-ask-a-gardener section-block">
	<div class="half-col main-content">
		<div class="inner">
			<h1>Ask a Gardener</h1>
			<form action="" class="rs-form">
				<div class="form-row">
					<input id="name" type="text" placeholder="Name">
				</div>
				<div class="form-row half">
					<input id="phone" type="tel" placeholder="Phone Number">
				</div>
				<div class="form-row half last">
					<input id="email" type="email" placeholder="Email">
				</div>
				<div class="form-row">
					<textarea id="name" rows="5" placeholder="Ask us anything!"></textarea>
				</div>
				<div class="form-row">
					<div class="form-submit btn green">
						<input class="" id="submit" type="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="half-col image" style="background-image: url({{root_url}}/images/garden-center/garden-center-ask-a-gardener.jpg"></div>
</section>


<section class="gc-visit-us">
	<div class="container-fluid">
		<div class="row no-gutters">
​
			<div class="col-6 map">
				<div class="map-placeholder">A live google map will go here</div>
			</div>
​
			<div class="col-6 content">
				<div class="inner">
					<h1>Visit us</h1>
					<p class="large">Come get excited about the landscape opportunities for your corner of paradise!</p>
					<div class="glyph-bullet">
						<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2.69 19C11.69 19 19 11.7 19 2.69c0-.4-.27-.74-.65-.82l-3.66-.85c-.4-.09-.8.12-.97.49l-1.68 3.94a.84.84 0 00.24.98l2.13 1.75a13.03 13.03 0 01-6.23 6.23l-1.74-2.14a.84.84 0 00-.99-.24l-3.94 1.69a.85.85 0 00-.49.97l.85 3.66c.08.38.42.65.82.65z" fill="#090A0A" fill-rule="nonzero"></path></svg>
						<a href="tel:239-395-5859">239-395-5859</a>
					</div>
					<div class="glyph-bullet">
						<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M14.94 19c.93 0 1.68-.76 1.68-1.69v-1.69h.7c.24 0 .43-.18.43-.42v-1.4a.42.42 0 00-.42-.43h-.7v-2.25h.7c.23 0 .42-.18.42-.42V9.3a.42.42 0 00-.42-.43h-.7V6.62h.7c.23 0 .42-.18.42-.42V4.8a.42.42 0 00-.42-.43h-.7V2.7c0-.93-.76-1.69-1.7-1.69H3.7C2.76 1 2 1.76 2 2.69V17.3c0 .93.76 1.69 1.69 1.69h11.25zM9.3 10a2.25 2.25 0 110-4.5 2.25 2.25 0 010 4.5zm3.15 4.5h-6.3c-.43 0-.79-.3-.79-.68v-.67c0-1.12 1.06-2.03 2.37-2.03h.17a3.64 3.64 0 002.8 0h.18c1.3 0 2.36.91 2.36 2.03v.67c0 .38-.35.68-.79.68z" fill="#090A0A" fill-rule="nonzero"></path></svg>
						<a href="https://goo.gl/maps/UYSWDUvF6JbYcbEJ6">3889 Sanibel Captiva Rd<br>Sanibel, FL 33957 USA</a>
					</div>
					<div class="hours-of-operation">
						<div>
							<p class="large days">Monday - Friday</p>
							<p class="large hours">10am - 4pm</p>
						</div>
						<div>
							<p class="large days">Saturday</p>
							<p class="large hours">9am - 1pm</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
	
{% endblock %}