{% set body_class = "projects" %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<section class="projects">
	<div class="container-fluid">
		<div class="row">

			{% for project in projects %}
			<div class="col-lg-4 col-sm-6">
				<a class="project-tile project animate-in" href="{{project.href}}" title="{{project.title}}">
					<div class="absolute-0">
						<img src="{{root_url}}/images/{{project.imagePrefix}}-{{project.featuredImage}}.jpg">
						<div class="overlay absolute-0">
							<h2>{{project.title}}</h2>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}

			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="project-tile cta animate-in">
					<div class="absolute-0">
						<div class="inner">
							{% include "partials/project-inquiries-cta.html" %}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{% include "partials/footer.html" %}
	
{% endblock %}