{% set body_class = "services" %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}


<div class="service-content">

	<section class="service-pillars">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="pillar-mask">
						<a class="pillar" href="{{root_url}}/services/design.html">
							<div class="main" style="background-image: linear-gradient(rgba(0,156,124,.08), rgba(0,156,124,.65)), url({{root_url}}/images/service-poster-design.jpg)">
								<h1 class="display">Design</h1>
							</div>
							<div class="description">
								<p>Our detailed design process and landscape design professionals ensure a quality landscape that will enhance the enjoyment of your property.</p>
								<svg viewBox="0 0 140 42" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#090A0A"><path stroke-linecap="square" d="M.5 21H138"/><path d="M118.7.5L139.2 21l-20.5 20.5"/></g></svg>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pillar-mask">
						<a class="pillar" href="{{root_url}}/services/build.html">
							<div class="main" style="background-image: linear-gradient(rgba(0,130,202,.08), rgba(0,130,202,.65)), url({{root_url}}/images/service-poster-build.jpg)">
								<h1 class="display">Build</h1>
							</div>
							<div class="description">
								<p>Our detailed design process and landscape design professionals ensure a quality landscape that will enhance the enjoyment of your property.</p>
								<svg viewBox="0 0 140 42" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#090A0A"><path stroke-linecap="square" d="M.5 21H138"/><path d="M118.7.5L139.2 21l-20.5 20.5"/></g></svg>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pillar-mask">
						<a class="pillar" href="{{root_url}}/services/maintain.html">
							<div class="main" style="background-image: linear-gradient(rgba(52,211,254,.08), rgba(52,211,254,.65)), url({{root_url}}/images/service-poster-maintain.jpg)">
								<h1 class="display">Maintain</h1>
							</div>
							<div class="description">
								<p>Our detailed design process and landscape design professionals ensure a quality landscape that will enhance the enjoyment of your property.</p>
								<svg viewBox="0 0 140 42" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#090A0A"><path stroke-linecap="square" d="M.5 21H138"/><path d="M118.7.5L139.2 21l-20.5 20.5"/></g></svg>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>

			

{% include "partials/footer.html" %}
	
{% endblock %}