/**********************************************
 Global Styles
**********************************************/
body {
  font-family: $body-font;
  font-size: 17px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  letter-spacing: -.02em;
}

h1, h2, h3, h4, h5, h6 { 
  color: $text-color;
  font-family: $heading-font;
  font-weight: 500;
}
h1 {
  font-size: 32px;
  line-height: 1.07em;
  letter-spacing: -0.04em;
  margin-bottom: 25px;
  &.display {
    font-size: 54px;
    letter-spacing: -0.05em;
  }
}
h2 {
  font-size: 24px;
  line-height: 1.25em;
  letter-spacing: -0.034em;
  margin-bottom: 10px;
}
h3, p {
  font-size: 17px;
  line-height: 1.45em;
}

p {
  font-weight: 300;
  &.large {
    font-size: 22px;
    line-height: 1.3em;
  }
}

a {
  color: $link-color;
  font-weight: 500;
}

strong, b { font-weight: 600 }

.btn {
  display: inline-block;
  position: relative;
  color: $black;
  background: transparent;
  border: 1px solid $black;
  font-size: 17px;
  line-height: 46px - 2;
  font-weight: 500;
  text-align: center;
  padding: 0px 20px;
  outline: 0;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s $cubic-btn;
  text-decoration: none;
  &.white {
    border-color: #fff;
    color: #fff;
    &:before {
      background: #fff;
    }
    &:hover {
      color: $black;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    background: $black;
    transition: 0.3s $cubic-btn;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      height: 100%;
    }
  }
  

  &.btn-small {
    line-height: 36px;
  }

  &.green {
  	background: $green;
    border-color: $green;
    color: #fff;
    &:before {
      background: tint($green, 15%);
    }
    &:hover {
      border-color: tint($green, 15%);
    }
  }
}

.chevron-arrow-right:after {
  content:'';
  display: inline-block;
  border-right: 2px solid $text-color;
  border-bottom: 2px solid $text-color;
  @include size(6px);
  transform: rotate(45deg) translateY(-3px);
  margin-left: 5px;
}

.wrapper {
	margin-top: $header-height + 40px;
}

.absolute-0 {
  @include position(absolute, 0);
}

.half-col {
  width: 50%;
  @media screen and (max-width: $mq-max-lg) {
    width: 100%;
  }
}

.slider-wrap-pagination {
  position: relative;
  height: 100%;
}

.dot-container {
  @include position(absolute, null null 20px 50%);
  transform: translateX(-50%);
  .dot {
    cursor: pointer;
    @include size(14px);
    margin: 0 7px;
    appearance: none;
    border: none;
    background: #fff;
    opacity: .5;
    border-radius: 50%;
    display: inline-block;
    transition: .3s ease;
    &.active {
      opacity: 1;
    }
  }
}

.map-placeholder {
  background: url('http://localhost:3000/images/map-placeholder.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 500px;
  p {
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }
}


.section-padding {
  padding: 100px 0;
}
.section-padding-bottom {
  padding-bottom: 100px;
}
.section-margin-top {
  margin-top: 100px;
}

.section-margin-bottom {
  margin-bottom: 100px;
}


hr.vertical {
  display: block;
  width: 1px;
  height: 40px;
  background: black;
  border: none;
}


.glyph-bullet {
  display: flex;
  margin: 20px 0;
  svg {
    margin-right: 16px;
    position: relative;
    top: 3px;
    opacity: .3;
  }
  a, p {
    font-weight: 500;
    text-decoration: none;
    color: $black;
    line-height: 1.45em;
  }
}

.hours-of-operation {
  margin-top: 30px;
  & > div {
    display: flex;
    justify-content: space-between;
  }
  .days {
    font-weight: 500;
  }
  .hours {
    width: 100%;
    max-width: 160px;
  }
}

.copy-block {
  margin-bottom: 40px;
}

.spacer-60 {
  height: 60px;
  width: 100%;
}

.gray-tile {
  background: $gray-gradient;
  border-radius: 6px;
  img {
    mix-blend-mode: darken;
  }
}

.img-wrap {
  position: relative;
  width: 100%;
  height: 0;
  img, video {
    @include size(100%);
    object-fit: cover;
    object-position: center;
  }
  
}