{% set body_class = "services" %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}



<section class="service-hero design animate-in">
	<div class="container-fluid">
		<div class="row no-gutters">

			<div class="hero-img" style="background-image:url({{root_url}}/images/service-poster-design.jpg)"></div>

			<div class="col-md-6 content">
				<div class="inner">
					<h1 class="display">Design</h1>
					<p class="large">Our detailed design process and landscape design professionals ensure a quality landscape that will enhance the enjoyment of your property.</p>
					<p><strong>Here's what you can expect</strong></p>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="animate-in section-margin-top service-content-block">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-2">
				<div class="inner">
					<div class="step-bubble flex-center">1</div>
				</div>
			</div>

			<div class="col-lg-4 content">
				<div class="inner">
					<h1>Initial Consultation</h1>
					<p class="large">To ensure that we best understand the opportunities and constraints of your landscape, we offer a complimentary initial consultation. The initial consultation is a concise conversation that will help determine the best avenue for us to assist with your landscape objectives.</p>
				</div>
			</div>

			<div class="col-lg-5 content">
				<div class="inner">
					<p>In your initial consultation, you can expect a FREE 30-45 minute meeting with one of our experienced landscape designers where we will:</p>
					
					<div class="half-col-row">
						<div class="half-col">
							<ul>
								<li>Review your landscape objectives and provide basic recommendations on plants, culture & care.</li>
							</ul>
						</div>
						<div class="half-col">
							<ul>
								<li>Additional landscape elements including hardscape, lighting, and water features may be discussed.</li>
							</ul>
						</div>
					</div>

					<p>The ideas and discussion from this initial consultation are evaluated and allows us to determine the best route for landscape implementation.</p>
				</div>
			</div>

</section>



<section class="animate-in section-margin-top service-content-block">
	<div class="container-fluid">
		<div class="row gray-bkg">

			<div class="col-lg-2">
				<div class="inner">
					<div class="step-bubble flex-center">2</div>
				</div>
			</div>

			<div class="col-lg-4 content">
				<div class="inner">
					<h1>Site Visit</h1>
					<p class="large">This initial site visit is an opportunity for our designers to gather site inventory and to take photos.</p>
					<p class="large">A site survey and any relevant architectural plans or elevations should be provided by the homeowner. Drawn plans are not prepared during the site visit except in cases where a simple hand-drawn sketch is adequate and can be accomplished within the hour consultation.</p>
				</div>
			</div>

			<div class="col-lg-5 content">
				<div class="inner">
					<p>In your initial consultation, you can expect a FREE 30-45 minute meeting with one of our experienced landscape designers where we will:</p>
					
					<div class="half-col-row">
						<div class="half-col">
							<ul>
								<li>Review your landscape objectives and provide basic recommendations on plants, culture & care.</li>
							</ul>
						</div>
						<div class="half-col">
							<ul>
								<li>Additional landscape elements including hardscape, lighting, and water features may be discussed.</li>
							</ul>
						</div>
					</div>

					<p>The ideas and discussion from this initial consultation are evaluated and allows us to determine the best route for landscape implementation.</p>
				</div>
		</div>
	</div>
</section>

			

{% include "partials/footer.html" %}
	
{% endblock %}