{% set body_class = "services" %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<div class="service-content">

	<section class="service-section" id="design">
		<div class="container-fluid">
			<div class="row animate-in">
				<div class="col">
					Design
				</div>
			</div>

			<div class="row animate-in">
				<div class="col">
					Design
				</div>
			</div>

			<div class="row animate-in">
				<div class="col">
					Design
				</div>
			</div>
		</div>
	</section>

</div>

			

{% include "partials/footer.html" %}
	
{% endblock %}