/**********************************************
 Contact Page
**********************************************/

.contact-main {
  margin-bottom: -60px;
  h1.display {
    margin: 0;
  }
  .row > div {
    margin-bottom: 60px;
  }

}

.contact-gc {
  padding-bottom: 100px;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px 110px;
    .inner {
      max-width: 420px;
      & > p {
        margin-bottom: 30px;
      }
    }
  }
  .map {
    .wpgmza_map {
      @media screen and (max-width: $mq-max-md) {
        height: 500px;
      }
    }
  }
}
