/**********************************************
 Garden Center
**********************************************/

.gc-hero {
  .slider {
    max-height: 700px;
    @media screen and (max-width: $mq-max-lg) {
      order: 2;
      height: 400px;
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
    .top {
      flex: 1;
      display: flex;
      flex-direction: column;
      max-width: 520px;
      margin: auto;
      padding: 80px 30px;
      justify-content: center;
      @media screen and (max-width: $mq-max-xl) {
        padding: 70px 30px;
      }
      @media screen and (max-width: $mq-max-lg) {
        max-width: $mq-max-md;
        text-align: center;
      }
      @media screen and (max-width: $mq-max-sm) {
        padding: 40px 20px;
      }
      img {
        max-width: 370px;
        padding-bottom: 60px;
        @media screen and (max-width: $mq-max-lg) {
          margin: auto;
        }
        @media screen and (max-width: $mq-max-sm) {
          max-width: 220px;
          padding-bottom: 30px;
        }
      }
    }
    
  }
  .inpage-nav {
    flex: 1;
    display: flex;
    @media screen and (min-width: $mq-min-sm) {
      max-height: 160px;
    }
    
    a {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;
      transition:  0.3s ease-out;
      border-top: 1px solid #c8cbcb;
      text-align: center;
      padding: 37px 0;
      @media screen and (max-width: $mq-max-sm) {
        padding: 15px;
        font-size: 14px;
      }
      &:not(:last-child) {
        border-right: 1px solid #c8cbcb;
      }
      
      span {
        @media screen and (min-width: $mq-min-sm) {
          transform: translateX(13px);
          transition: 0.3s ease-out;

        }
      }
      svg {
        transform: translateY(-3px);
        width: 15px;
        margin-left: 11px;
        opacity: 0;
        transition: 0.3s ease-out;
        @media screen and (max-width: $mq-max-sm) {
          display: none;
        }
      }
      &:hover {
        background: black;
        color: lightgray;
        border-color: black;
        span {
          transform: translateX(0);
        }
        svg {
          animation: arrow-bounce 1s ease infinite;
          opacity: .6;
        }
      }
    }
  }
}





.gc-tile-showcase {
  margin-bottom: -30px;
  .row > div {
    height: 290px;
    margin-bottom: 30px;
    @media screen and (max-width: $mq-max-lg) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: $mq-max-md) {
      height: 200px;
    }
    @media screen and (max-width: $mq-max-sm) {
      height: 130px;
    }
  }
  .img-wrap {
    height: 100%;
    &:hover {
      img.primary {
        opacity: 0;
      }
    }
    img {
      &.primary {
        position: absolute;
        transition: .4s ease-out;
        z-index: 1;
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $mq-max-lg) {
      height: inherit!important;
      margin-bottom: 60px!important;
    }
    .inner {
      max-width: 360px;
      @media screen and (max-width: $mq-max-lg) {
        text-align: center;
        max-width: $mq-max-md;
      }
    }
  }
}


.gc-get-inspired {
  .row {
    background: linear-gradient(to top right, #E5EAEA, #F2F4F4);
    padding: 80px 0 90px
  }
  .content {
    @media screen and (max-width: $mq-max-lg) {
      margin-bottom: 40px;
    }
    .inner {
      max-width: 420px;
      margin: auto;
      padding: 0 30px;
      @media screen and (max-width: $mq-max-lg) {
        max-width: $mq-max-md;
        text-align: center;
      }
    }
    .top {
      margin-bottom: 60px;
    }
  }
}




.gc-events {
  .title {
    margin-bottom: 60px;
    h1 {
      text-align: center;
    }
  }
  .calendar {
    background: lightgray;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




.gc-ask-a-gardener {
  display: flex;
  position: relative;
  .row {
    position: relative;
  }
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 70px;
    h1 {
      @media screen and (max-width: $mq-max-lg) {
        text-align: center;
        color: #fff;
      }
    }
    @media screen and (max-width: $mq-max-lg) {
      z-index: 1;
      background: rgba($black, .6);
    }
    .rs-form {
      input:not([type=submit]), 
      textarea {
        @media screen and (max-width: $mq-max-lg) {
          background: rgba(#fff, .9);
          border-color: rgba(#fff, .9);
        }
      }
      .form-submit {
        @media screen and (max-width: $mq-max-lg) {
          display: block;
        }
      }
    }
    h1 {
      margin-bottom: 30px;
    }
    .inner {
      width: 100%;
      max-width: 575px;
      padding: 0 30px;
    }
  }
  .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: $mq-max-lg) {
      @include position(absolute, 0);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.gc-visit-us {
  .map {
    @media screen and (max-width: $mq-max-md) {
      order: 2;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 110px;
    .inner {
      max-width: 410px;
      padding: 0 30px;
      & > p {
        margin-bottom: 30px;
      }
    }
  }
}

.schedule-tour {
  margin: 40px 0 100px;
  h1 {
    margin-top: 60px;
  }
  [class^='col'] {
    text-align: center;
  }
}