/**********************************************
 Homepage
**********************************************/

section.projects {
	padding-bottom: 60px;

}

.project-tile {
	padding-bottom: 72%;
	margin-bottom: 30px;
	display: block;
	@media screen and (max-width: $mq-max-lg) {
		margin-bottom: 20px;
	}
	@media screen and (max-width: $mq-max-sm) {
		margin-bottom: 15px;
	}
	&.cta {
		& > div {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $gray-gradient;
			@media screen and (max-width: $mq-max-md) {
				position: relative;
				padding: 40px 0;
			}
		}
		.inner {
			width: 80%;
			max-width: 340px;
		}
		.btn {
			margin-bottom: .9em;
		}
		h1 {
			max-width: 80%;
			margin: 0 auto 0.6em;
			@media screen and (min-width: $mq-min-lg) {
				font-size: 2.23vw;
			}
		}
		p {
			@media screen and (min-width: $mq-min-lg) {
				font-size: 1.25vw;
			}
			
		}
		@media screen and (max-width: $mq-max-md) {
			height: inherit;
			padding-bottom: inherit;
		}
	}
}