/**********************************************
 Services - Parent Page
**********************************************/
.service-content {
	position: relative;
}

section.service-pillars {
	height: calc(100vh - #{$header-height} - 40px);
	padding-bottom: 40px;
	min-height: 400px;
	@media screen and (max-width: $mq-max-md) {
		height: calc(100vh - #{$header-height} - 20px);
		padding-bottom: inherit;
	}
	div:not(.description) {
		height: 100%;
	}
	.container-fluid {
		.row {
			@media screen and (max-width: $mq-max-md) {
				height: 33.3333%;
			}
		}
		.col-md-4 {
			@media screen and (max-width: $mq-max-md) {
				padding-bottom: 15px;
			}
		}
	}
}

.pillar-mask {
	overflow: hidden;
}

.pillar {
	height: 100%;
	position: relative;
	overflow: hidden;
	display: block;
	color: $black;
	.main {
		position: relative;
		z-index: 1;
		background-position: center center;
		background-size: cover;
		transition: height 0.5s cubic-bezier(.25,.1,0,1);
	}
	h1 {
		@include position(absolute, null 2vw 0 2vw);
		color: #fff;
		@media screen and (max-width: $mq-max-md) {
			left: 13px;
			margin-bottom: 15px;
			font-size: 44px;
		}
	}
	.description {
		background: $gray-gradient;
		@include position(absolute, null 0 0 0);
		padding: 2vw;
		@media screen and (max-width: $mq-max-md) {
			padding: 15px;
		}
		p {
			margin-bottom: 20px;
			@media screen and (max-width: $mq-max-md) {
				font-size: 15px;
				margin-bottom: 0;
			}
		}
		svg {
			height: 40px;
			@media screen and (max-width: $mq-max-md) {
				display: none;
			}
		}
	}	
}


/**********************************************
 Services - Individual Pages
**********************************************/

.service-hero {
	.row {
		position: relative;
		padding: 100px 0 110px;
		@media screen and (max-width: $mq-max-md) {
			padding: 80px 0 90px;
		}
		@media screen and (max-width: $mq-max-sm) {
			padding: 60px 0 70px;
		}
	}
	.hero-img {
		@include position(absolute, 0 0 0 null);
		width: 70%;
		background-size: cover;
		background-position: center;
		&:after {
			content: '';
			display: block;
			@include position(absolute, 0);
		}
		@media screen and (max-width: $mq-max-md) {
			width: 100%;
		}
	}
	.content {
		.inner {
			max-width: 500px;
			padding: 0 30px;
			margin: auto;
			@media screen and (max-width: $mq-max-md) {
				text-align: center;
				max-width: 600px;
			}
		}
		h1, p {
			color: #fff;
		}
		p:not(:last-of-type) {
			margin-bottom: 60px;
		}
	}
	&.design {
		.row {
			background: $green;
		}
		.hero-img {
			&:after {
				background: linear-gradient(to right, $green, rgba($green, .1));
				@media screen and (max-width: $mq-max-md) {
					background: linear-gradient(to right, rgba($green, .9), rgba($green, .9));
				}
			}
		}
		.path-start {
			margin-top: 60px;
			position: relative;
			p {
				font-size: 24px;
				line-height: 1.2em;
				max-width: 160px;
				@media screen and (max-width: $mq-max-md) {
					margin: auto;
					max-width: inherit;
				}
			}
		}
	}
	&.build {
		.row {
			background: $blue;
		}
		.hero-img {
			&:after {
				background: linear-gradient(to right, $blue, rgba($blue, .1));
				@media screen and (max-width: $mq-max-md) {
					background: linear-gradient(to right, rgba($blue, .9), rgba($blue, .9));
				}
			}
		}
	}
	&.maintain {
		.row {
			background: shade($skyblue, 10%);
		}
		.hero-img {
			&:after {
				background: linear-gradient(to right, shade($skyblue, 10%), rgba(shade($skyblue, 10%), .1));
				@media screen and (max-width: $mq-max-md) {
					background: linear-gradient(to right, rgba(shade($skyblue, 10%), .9), rgba(shade($skyblue, 10%), .9));
				}
			}
		}
	}
}

hr.step-line {
	width: 1px;
	height: 200px;
	border: none;
	background-image: linear-gradient($black 43%,	rgba($black, 0) 0%);
	background-position: right;
	background-size: 1px 13px;
	background-repeat: repeat-y;
	position: absolute;
}

.step-bubble {
	@include size(100px);
	border-radius: 50%;
	border: 1px solid $black;
	margin: auto;
	font-size: 56px;
	font-weight: 300;
	@media screen and (max-width: $mq-max-lg) {
		margin-bottom: 40px;
	}
}

.service-content-block {
	.inner {
		width: 85%;
		margin: auto;
		@media screen and (max-width: $mq-max-lg) {
			width: inherit;
			padding: 0 30px;
		}
	}
	p, ul, ol {
		margin-bottom: 20px;
	}
	.half-col-row {
		display: flex;
		justify-content: space-between;
	}
	.half-col {
		width: 48.5%;
	}
	.spacer {
		@media screen and (max-width: $mq-max-lg) {
			margin-top: 40px;
		}
	}
}



.service-segment {
	.row {
		margin-bottom: 10px;
	}
	[class^="col"] {
		margin-bottom: 20px;
	}
	.segment {
		padding: 80px 30px 90px;
		position: relative;
		height: 100%;
		background-position: center;
		background-size: cover;
		@media screen and (max-width: $mq-max-sm) {
			padding: 60px 30px 70px;
		}
		&:before {
			content: '';
			display: block;
			@include position(absolute, 0);
			background: $green;
			opacity: .9;
		}
		&.build {
			&:before {
				background: $blue;
			}
		}
		&.maintain {
			&:before {
				background: shade($skyblue, 20%);
			}
		}
		.inner {
			max-width: 560px;
			margin: auto;
			text-align: center;
			position: relative;
			h1, p {
				color: #fff;
			}
			h1 {
				margin-bottom: 15px;
			}
			p {
				margin-bottom: 25px;
			}
			
		}
	}
}

.service-bottom-cta {
	.project-inquiry-cta {
		margin: auto;
		text-align: center;
		max-width: 700px;
		padding: 0 30px;
	}
}