/**********************************************
 Services
**********************************************/
.service-content {
	position: relative;
}

section.service-pillars {
	height: calc(100vh - #{$header-height} - 40px);
	padding-bottom: 40px;
	min-height: 400px;
	@media screen and (max-width: $mq-max-md) {
		height: calc(100vh - #{$header-height} - 20px);
		padding-bottom: inherit;
	}
	div:not(.description) {
		height: 100%;
	}
	.container-fluid {
		.row {
			@media screen and (max-width: $mq-max-md) {
				height: 33.3333%;
			}
		}
		.col-md-4 {
			@media screen and (max-width: $mq-max-md) {
				padding-bottom: 15px;
			}
		}
	}
}

.pillar-mask {
	overflow: hidden;
}

.pillar {
	height: 100%;
	position: relative;
	overflow: hidden;
	display: block;
	color: $black;
	.main {
		position: relative;
		z-index: 1;
		background-position: center center;
		background-size: cover;
		transition: height 0.5s cubic-bezier(.25,.1,0,1);
	}
	h1 {
		@include position(absolute, null 2vw 0 2vw);
		color: #fff;
		@media screen and (max-width: $mq-max-md) {
			left: 13px;
			margin-bottom: 15px;
			font-size: 44px;
		}
	}
	.description {
		background: $gray-gradient;
		@include position(absolute, null 0 0 0);
		padding: 2vw;
		@media screen and (max-width: $mq-max-md) {
			padding: 15px;
		}
		p {
			margin-bottom: 20px;
			@media screen and (max-width: $mq-max-md) {
				font-size: 15px;
				margin-bottom: 0;
			}
		}
		svg {
			height: 40px;
			@media screen and (max-width: $mq-max-md) {
				display: none;
			}
		}
	}	
}

.service-hero {
	.row {
		position: relative;
		padding: 60px 0;
	}
	.hero-img {
		@include position(absolute, 0 0 0 null);
		width: 70%;
		background-size: cover;
		background-position: center;
		&:after {
			content: '';
			display: block;
			@include position(absolute, 0);
		}
		@media screen and (max-width: $mq-max-md) {
			width: 100%;
		}
	}
	.content {
		.inner {
			max-width: 500px;
			padding: 0 30px;
			margin: auto;
			@media screen and (max-width: $mq-max-md) {
				text-align: center;
				max-width: 600px;
			}
		}
		h1, p {
			color: #fff;
		}
		p:not(:last-of-type) {
			margin-bottom: 60px;
		}
	}
	&.design {
		.row {
			background: $green;
		}
		.hero-img {
			&:after {
				background: linear-gradient(to right, $green, rgba($green, .1));
				@media screen and (max-width: $mq-max-md) {
					background: linear-gradient(to right, rgba($green, .9), rgba($green, .9));
				}
			}
		}
	}
}

.step-bubble {
	@include size(100px);
	border-radius: 50%;
	border: 1px solid $black;
	margin: auto;
	font-size: 56px;
	font-weight: 300;
}

.service-content-block {
	.inner {
		width: 94%;
		margin: auto;
		@media screen and (max-width: $mq-max-lg) {
			width: inherit;
			padding: 0 30px;
		}
	}
	p, ul, ol {
		margin-bottom: 20px;
	}
	.half-col-row {
		display: flex;
		justify-content: space-between;
	}
	.half-col {
		width: 48.5%;
	}
	.row.gray-bkg {
		padding: 60px 0 40px;
	}
}